@{
    Layout = null;
    var uriFoto = ViewBag.UriImg;
}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="@uriFoto" alt="Foto Buraco">
    <div class="card-body">
        <button type="button" class="btn btn-danger">Cancelar</button>
        <button type="button" class="btn btn-success">Confirmar</button>
    </div>
</div>