@{
    Layout = null;
    var uriFoto = (string)ViewBag.UriImg;
    TempData["uriFoto"] = uriFoto;
}


@using (Html.BeginForm("Upload", "CadastroBuraco", FormMethod.Post, new { enctype = "multipart/form-data" , @id="FormIMG"}))
{
<div class="card" style="width: 18rem;">
    <div class="img1">
        <img class="card-img-top" src="@uriFoto" alt="Foto Buraco" id="foto">
    </div>
    <div class="card-body">
        <div class="form-row">
            <div id="fotoResult" class="form-group clearfix">
                <input type="file" name="file" value="@uriFoto"/>
            </div>
            <div class="form-group clearfix">
                <button type="button" onclick="window.location.reload()" class="btn btn-danger">Cancelar</button>
                <button type="submit" class="btn btn-success">Confirmar</button>
            </div>
        </div>
    </div>
</div>
}