
@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" src="~/Scripts/webcam.min.js"></script>



<div class="container" id="camera">
    <div class="card" style="width: 21rem;">
        <div class="card-body">
            <div id="minha_camera">
            </div>
        </div>

        <div class="card-footer">
            <form>
                <div class="align-items-center">
                    <button type="button" class="btn btn-default btn-sm" onClick="bater_foto()">
                        <i class="fa fa-camera" aria-hidden="true"></i> Bater Foto
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container" id="previa">
    <div id="results"></div>
</div>
<div class="container" id="salva">
    <span id="carregando"></span><img id="completado" src="" />
</div>



@section scripts{
    <script language="JavaScript">
        function bater_foto() {
            Webcam.snap(function (data_uri) {


                $.ajax({
                 url: '@Url.Action("ConfirmarFoto","CadastroBuraco")',
                 type: 'POST',
                    data: { uriFoto: data_uri },
                    success: function (response) {
                        document.getElementById('results').innerHTML = response;
                 },
                    error: function () {
                        alert("Erro!");
                 },
                 complete: function () {
                     
                 }
             })

                //document.getElementById('results').innerHTML = '<img id="base64image" src="' + data_uri + '"/><button onclick="salvar_foto();">Upload desta Foto</button>';

                $("#camera").empty();
            });
        }

        function mostrar_camera() {
            Webcam.set({
                width: 640,
                height: 480,
                dest_width: 640,
                dest_height: 480,
                crop_width: 300,
                crop_height: 400,
                image_format: 'jpeg',
                jpeg_quality: 100,
                flip_horiz: true
            });
            Webcam.attach('#minha_camera');
        }

        //function salvar_foto() {
        //    document.getElementById("carregando").innerHTML = "Salvando, aguarde...";
        //    var file = document.getElementById("base64image").src;
        //    var formdata = new FormData();
        //    formdata.append("base64image", file);
        //    var ajax = new XMLHttpRequest();
        //    ajax.addEventListener("load", function (event) { upload_completo(event); }, false);
        //    ajax.open("POST", "upload.php");
        //    ajax.send(formdata);
        //}

        //function upload_completo(event) {
        //    document.getElementById("carregando").innerHTML = "";
        //    var image_return = event.target.responseText;
        //    var showup = document.getElementById("completado").src = image_return;
        //    var showup2 = document.getElementById("carregando").innerHTML = '<b>Upload feito:</b>';
        //}

        $(document).ready(function () {
            mostrar_camera();
        });
    </script>
}