@model IList<Web.App.TapaBuraco.Models.Empresa>
@{
    ViewBag.Title = "Index";
}

@if (!Model.Any())
{
    foreach (var item in Model)
    {
        <div class="card">
            <div class="card-header">
                Empresa: @item.RazaoSocial
            </div>
            <div class="card-body">
                <b>Lista de Buracos:</b>
                <ul class="list-unstyled">
                    @foreach (var buraco in item.BuracoCollection)
                    {
                        <li class="media">
                            <img class="mr-3" src="~/Upload/@buraco.UriFoto" alt="Generic placeholder image">
                            <div class="media-body">
                                <b>Rua: @buraco.Rua</b>
                                <b>Bairro: @buraco.Bairro</b>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
}
else
{
    <div class="alert alert-danger" role="alert">
        Não existe Requerimentos!
    </div>
}